---
import { Container } from "../components/container/Container";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <Container>
    <div class="box">
      <div class="tags">
        {
          frontmatter.tags.map((tag: any) => (
            <p class="tag">
              <a href={`/tags/${tag}`}>{tag}</a>
            </p>
          ))
        }
      </div>
      <h1 class="title">{frontmatter.title}</h1>
      <p class="date">{frontmatter.pubDate.slice(0, 10)}</p>
      <p class="description"><em>{frontmatter.description}</em></p>
      <p class="text">{frontmatter.text}</p>
      <slot />
    </div>
  </Container>
</BaseLayout>
<style>
  .box {
    min-height: 100dvh;
  }
  .title {
    padding-block: 20px;
    color: var(--Main-Primary-2, #474747);
    font-family: "Roboto Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
  }
  .date {
    color: var(--Main-Primary-2, #474747);
    font-family: "Roboto Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    margin-block-end: 10px;
  }
  .description {
    color: var(--Main-Primary-2, #474747);
    font-family: "Roboto Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 32px; /* 200% */
    margin-block-end: 20px;
  }

  .text {
    color: var(--Main-Primary-2, #474747);
    font-family: "Roboto Mono";
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 200% */
  }
  .text::first-letter {
    color: red;
    font-size: 30px;
  }

  .tags {
    margin-block-start: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .tag {
    display: block;
    color: var(--Main-Primary-2, #474747);
    font-family: "Roboto Mono";
    font-size: 22px;
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    border-radius: 3px;
    background: var(--Neutral-Light-Grey, #f4f4f4);
  }
</style>
